$primary-color: tomato;
$secondary-color: lightblue;
$font-size: 16px;

h1 {
  color: $primary-color;
  border: 1px solid $primary-color;
  font-size: $font-size * 1.5; /* will be 24px */
}
h2 {
  color: $secondary-color;
}
